.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the parent container to 100% of the viewport height */
}

.card {
    width: 550px;
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid black;
}